body {
  font-family: system-ui;
  background: url("https://i.pinimg.com/736x/01/1d/c4/011dc4dd931d658d9fc69e7747f3aff0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  margin: none;
  padding: 10px;
  color: black;
}
.btn {
  padding: 10px 24px;
  background: #ceead2;
  border-radius: 30px;
}
.btnc {
  margin: 10px;
  font-size: 48px;
  border-radius: 30px;
  background: #00ffff;
  padding: 10px 24px;
}
.btn-1 {
  background: #cfe2f3;
}
.btn-2 {
  background: #f4cccc;
}
.btn-3 {
  background: #ace1af;
}
.login-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: black;
  background: white;
  border-radius: 12px;
  gap: 10px;
}
.welcome {
  color: black;
}
label {
  font-size: 20px;
  margin-bottom: 10px;
}
input {
  padding: 10px;
  border-radius: 8px;
  font-size: 20px;
}
@media (max-width: 768px) {
}

#data-table,
#data-table1 {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0;
  font-size: 18px;
  text-align: left;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: #fff;
  color: #888;
}

#data-table thead,
#data-table1 thead {
  background-color: #007bff;
  color: white;
  text-transform: uppercase;
}

#data-table th,
#data-table1 th,
#data-table td,
#data-table1 td {
  padding: 5px 15px;
  border-bottom: 1px solid #ddd;
}

#data-table tbody tr :hover,
#data-table1 tbody tr :hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease-in-out;
}

#data-table tbody tr:last-child td,
#data-table1 tbody tr:last-child td {
  border-bottom: none;
}

@media (max-width: 600px) {
  #data-table {
    font-size: 16px;
  }
  #data-table th,
  #data-table td {
    padding: 10px;
  }
  .conteiner {
    overflow-x: auto;
  }
}
.table-contener {
  display: flex;
  gap: 30px;
}
.btns-table {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 10px;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}
.loader {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.btns {
  display: inline;
  flex-direction: column;
}
a {
  text-decoration: none;
}
