body {
  font-family: system-ui;
  background: url("https://i.pinimg.com/736x/01/1d/c4/011dc4dd931d658d9fc69e7747f3aff0.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.author {
  font-weight: 500;
  font-size: 32px;
  /* color: black; */
}
