body {
  font-family: system-ui;
  background: url("https://facts.cx.ua/uploads/facts-2/mini/cikavi-fakti-pro-zimu-800-450.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
